extend ../../layout.pug

block content
 h1.titulo #{title}
 p
  | En Chile, el primer caso registrado de infección por el virus SARS-CoV-2 se registró el 3 de Marzo del 2020. Desde entonces, se registran oficialmente 637 casos testeados positivamente
  | a la fecha presente (22 de Marzo del 2020). La proyección estadística de nuevos casos indica que en 3 días debieran elevarse explosivamente las confirmaciones de casos positivos.
  | considerando las curvas estadísticas de contagio de otros países como Italia.
  | Las cifras asustan, lo cual motiva a querer obtener información para 'actuar surfeando la ola' de la mejor manera posible. La información comentada más importante que he recabado
  | se resume en seis puntos:

 ul
  li El punto de vista óptimo para afrontar esta situación epidemiológica es suponer que uno mismo ya está contagiado (aunque no lo estés), por lo que en adelante debemos velar por evitar contagiar a otros.

  li Debemos lavarnos las manos con jabón y agua (no sucedáneos) con estilo quirúrgico durante 30 segundos en promedio, eliminando los residuos del jabón y desechando las toallas utilizadas. Así mismo, debemos evitar llevarnos las manos a la cara, en especial boca, nariz y ojos.

  li Debemos limpiar cualquier apoyamanos de la casa, medio de transporte o artefacto público (manija, barra, etc.) con solución desinfectante de agua con cloro al 10% ('Clorinda' por ejemplo). Los restos orgánicos se deben limpiar con solución desinfectante de agua y cloro al 25%.

  li Debemos reducir la 'superficie de contacto' que reciba al SARS-CoV-2, es decir, las personas deben evitar exponerse a contraer el virus manteniendo la distancia social (2 metros entre personas), evitar tocar superficies usualmente manoseadas (juegos públicos, perillas, manijas, etc.), usar mascarillas impermeables cuando sea estrictamente necesario exponerse al contacto social cercano, y, lo más importante, quédarse en casa haciendo cuarentena voluntaria, excepto cuando sea estrictamente necesario para mantener una buena salud.

  li Debemos seguir todas las buenas prácticas para prevenir enfermedades tradicionales de invierno: mantener el calor corporal en grado confortable a través del abrigo, satisfacer todas las necesidades nutricionales (vitaminas, minerales, etc.) a través del consumo balanceado de alimentos.

  li La estrategia de cuarentenas progresivas es correcta porque el gobierno debe cuidar la salud de la población *y* mantener funcionando el circuito económico  *en forma simultánea*. El control epidemiológico vigente es necesario para mantenernos con vida y en buen estado de salud. Mantener el dinamismo de la economía es necesario para abastecernos de comida, insumos indispensables, trabajo, dinero y desarrollar las capacidades y talentos personales.

 p
  | La sexta consideración implica que la implementación de la cuarentena total, como algunos sectores piden, presenta costos de oportunidad altísimos. En primer término, debemos fijar el contexto y los antecedentes de esta argumentación.

 p
  | En el caso de Chile, los desórdenes públicos sucedidos a partir del 18 de Octubre del 2019, apoyados, incentivados y recompensados por sectores políticos de oposición (PC/PS/FA/US), han destruído los resultados productivos y la misma existencia de muchas MIPYMES a escala nacional, lo que ha causado el perjuicio y el empobrecimiento de los empleados y los propietarios de esas empresas. Por el lado del mercado financiero, ha motivado el retiro y colocación fluctuante, por parte de los inversionistas, de capital líquido en el IPSA/IGPA lo cual afecta los fondos de pensiones conservadores (D/E, que dependen en gran parte del desempeño del IPSA) aumentando la volatilidad del mercado financiero local, aumentando el riesgo de materializar la pérdida de dinero de los fondos de pensiones y generando incertidumbre entre las personas, especialmente quienes están prontos a jubilarse. Los ya alicaídos resultados económicos a la fecha de Marzo 2019 son potenciados por la aparición de la pandemia de COVID-19 (causado por el virus SARS-CoV-2) porque ha forzado el repliegue de las personas a sus domicilios debido a la emergencia epidemiológica (aunque algunos se expongan sin que sea necesario), lo cual implica una disminución general de las transacciones de compra/venta de servicios y productos, y por tanto afecta los resultados generales del circuito económico.

 p
  | Esta situación configura un escenario de gobernanza similar a un camino con barrancos a ambos lados. El lado izquierdo del barranco presenta el peligro local de una crisis política que pretende, al margen de la ley y las reglas democráticas, quitar poder al Presidente de la República y hacerse del gobierno 'a la mala'. Esta crisis motivada políticamente ha conducido a la destrucción de los activos financieros de las MIPYMES, lo cual ha debilitado el circuito económico de forma grave y por tanto puede disminuir progresivamente el poder de compra de las personas (es decir, empobrecernos). Esta situación podría configurar un escenario nacional tenso e indeseable con una duración de corto/mediano plazo.
 p
  | El lado derecho del barranco presenta el peligro de la emergencia epidemiológica en curso que podría, según las proyecciones estadísticas, en el peor de los casos y eventualmente, contagiar a
  | un total de 2.800.000 chilenos y provocar el deceso de 500 de nuestros ciudadanos a la fecha de Agosto o Septiembre del presente año una vez acabada la pandemia (al menos la primera ola).
  | A su vez, el confinamiento forzado por esta epidemia conduce rápidamente al debilitamiento del circuito económico y por tanto al empobrecimiento de las personas.

 p
  | La tarea del Gobierno de Chile de navegar entre estos 'barrancos' ya es muy difícil. Los ciudadanos debemos alinearnos con las recomendaciones del gobierno a la vez de tomar razón de nuestro autocuidado por el bien propio y de los demás.

 p
  | Addenda 1: He refactorizado los ítems de la lista acerca de las implicaciones sanitarias y sociales del COVID-19/SARS-CoV-2 (03 de Abril 2020).
 p
  | Addenda 2: Los resultados publicados por el Ministerio de Salud y las últimas modelaciones estadísticas indican que Chile está obteniendo buenos resultados en el control del contagio y letalidad
  | del COVID-19/SARS-CoV-2 (03 de Abril 2020). Sin embargo, esto recién empieza, el invierno aún no llega, y por tanto no hay que confiarse. Todos alerta!

 p
  | Addenda 3: Añadiré referencias bibliográficas al artículo con objeto de fortalecer el peso de la argumentación. Stay tuned.
