extend ../../layout.pug

block content
 h1.titulo #{title}
 p
  | Todos estamos familiarizados intuitivamente y por experiencia con el proceso de aprendizaje individual. Desde un niño que recién empieza a caminar y hablar hasta el adulto
  | que certifica su habilidad en un determinado nicho laboral (por ejemplo, gestión de proyectos según PMBOK), todos estamos insertos en procesos de aprendizaje constante, incluso
  | a veces sin darnos cuenta.
 p
  | El aprendizaje individual se define como '...' (ref). Existen formas más sutiles y específicas del aprendizaje individual que revisaremos con detalle en otro post.
 p
  | Desde un punto de vista 'agregacional' o 'emergentista', el aprendizaje individual es sólo el primer tercio del espectro de los procesos de aprendizaje. 
  | El segundo tercio de este puzzle es el aprendizaje organizacional.
  | Intuitivamente, el concepto de aprendizaje organizacional algo más difícil de captar, así que deglosaremos primero el concepto que falta por definir, es decir, el concepto de
  | organización. En el contexto de las ciencias humanas, una organización se define como '...' (ref). 
 p
  | En sentido estricto, el concepto de aprendizaje organizacional debiera aplicarse a toda unidad social cuya flujo de trabajo cumple con la definición de 'organización'. 
  | Se infiere de esta afirmación que las empresas, fundaciones, organismos gubernamentales son sujetos de cambio inducido por un proceso de aprendizaje. Lo que no es
  | tan evidente, es que existen algunas subunidades dentro de esas personas jurídicas que también cumplen dicho criterio funcionando en la práctica como 'organizaciones dentro de 
  | organizaciones'. Asimismo, este criterio implica que algunos grupos de trabajo, comités, equipos y otras formas de reunión social quedan fuera de esta definición de AO.
 p
  | [blogpost en progreso]
