extend ../../layout.pug

block content
 h1.titulo #{title}
 p
  | Esta cápsula de aprendizaje busca mostrar las formas de vida conocidas en el planeta Tierra actualizada de acuerdo a la última clasificación vigente (2015).
 p
  |reino animal, reino vegetal, reno fungi, reino _,reino protista, reino arquea
 p
  | Podemos agregar el reino de los virus como parte de la semivida...
  | [blogpost en progreso]