extend ../../layout.pug

block content
 h1.titulo #{title}
 p
  | Esta cápsula de aprendizaje busca mostrar las formas de vida conocidas en el planeta Tierra actualizada de acuerdo a la última clasificación vigente (2015). Además de estas formas de vida,
  | existe una categoría adicional que no está incluida en el árbol de la vida oficial, que puede mencionarse como 'semivida'. En este documento mostraré un esquema
  | de clasificación de la vida conocida ordenado de mayor a menor tamaño físico.
 p
  | La primera categoría taxonómica mencionada según su tamaño físico son los miembros del llamado reino vegetal. ...
 p
  | La segunda categoría taxonómica es el reino animal. Comprende a todos los seres vivos multicelulares con ....
 p
  | La tercera categoría del árbol de la vida es el reino fungi. Los miembros de esta categoría son toda clase de hongos ...
 p
  | En cuarto lugar mencionamos a los miembros del reino cromista.
 p
  | La quinta categoría taxonómica corresponde al reino protozoo.
 p
  | La sexta categoría del árbol de la vida corresponde al reino bacteria.
 p
  | La séptima categoría corresponde a los miembros del llamado reino arquea. Se trata de organismos unicelulares cuya particularidad es que son capaces de sobrevivir en ambientes extremos
 p
  | Hemos mencionado las siete categorías actualmente aceptadas del árbol de la vida. Existe consenso en declarar una categoría adicional que se considera fuera del árbol de la vida
  | pero que tienen influencia en todos los organismos clasificados en el árbol de la vida y que actúan bajo ciertas condiciones como seres vivos. Señoras y señores, les presento a... los virus.
  | ...[blogpost en progreso]

 p
  | Ruggiero, Michael A.; Gordon, Dennis P.; Orrell, Thomas M.; Bailly, Nicolas; Bourgoin, Thierry; Brusca, Richard C.; Cavalier-Smith, Thomas; Guiry, Michael D.; Kirk, Paul M.; Thuesen, Erik V. (2015). "A higher level classification of all living organisms". PLOS ONE. 10 (4)