extend ../../layout.pug

block content
 h1.titulo #{title}

 p
  | El manejo de las finanzas personales es un tema fundamental para el mejoramiento de la calidad de vida de las personas y las familias.
 p
  | Este post sobre finanzas personales forma parte de una serie que he llamado 'ciudadano integral'.
 p
  | [blogpost en progreso]