extend layout.pug

block content
 h1.titulo #{title}
 p
  | En Chile, el primer caso registrado de infección por el virus SARS-CoV-2 se registró el __. Desde entonces, se registran oficialmente 637 casos testeados positivamente
  | a la fecha presente (22/Marzo/2020). La proyección estadística de nuevos casos indica que en 3 días debieran elevarse explosivamente las confirmaciones de casos positivos.
  | Las cifras asustan, lo cual motiva a querer obtener información para 'actuar surfeando la ola' de la mejor manera posible. Hoy he leído información interesante que compartiré con ustedes.

 p
  | El punto de vista óptimo para afrontar esta situación epidemiológica es suponer que ya estás contagiado (aunque no lo estés), por lo que en adelante debes velar por evitar contagiar a otros.
 p
  | Debemos lavarnos las manos con jabón y agua (no sucedáneos) con estilo quirúrgico durante 30 segundos en promedio, eliminando los residuos del jabón y desechando las toallas utilizadas.
 p
  | Debemos limpiar cualquier apoyamanos (manija, barra, etc.) con solución desinfectante de agua con cloro al 10% (Clorinda por ejemplo). Los restos orgánicos se limpiar con solución al 25%.
