extend layout
block content
  p
    | Bienvenidos! Como apertura quisiera comentar que el nombre del blog 'polímata accidental' refiere a la cantidad de ámbitos a comentar más que a la profundidad de los comentarios
    | en dichos ámbitos. Espero, sin embargo, que la profundidad o densidad de los comentarios sea considerado al menos decente. 
    | Respecto de los ámbitos, el presente blog publicará contenidos acerca de los temas de desarrollo web, programación, ciencias humanas, política & economía.
    | Me alegro que ustedes los lectores estén interesados en leer estas líneas y espero que les parezca interesante y provechoso.
  
  ul
   li: a(href='./2020-03-22-consejos-en-tiempos-de-sars-coronavirus-2') 2020/03/22 Consejos en Tiempos de SARS Coronavirus 2 (SARS-CoV-2)
   li: a(href='#') 2020/03/27 Próximo post

block sidebar
  .widget
    h1 Categorías
    p Desarrollo web
    p Programación
    p Ciencias Humanas
    p Acción & Política
    p Economía & Finanzas