extend ./layout

block content
  h1 Bienvenidos!
  p
    | El objetivo del presente blog es ejercitar mi habilidad de levantar una web app usando Nodejs, Pug y Stylus. El nombre del blog 'polímata accidental' es bastante pretencioso, aunque me gustaría hacerle honor a semejante apelativo en un futuro. Igualmente suena interesante, así que prefiero conservarlo tal cual.

  each post in posts
    div
      h3 #{post.titulo}
      p #{post.fecha}
      p #{post.descripcion}
      a(href=`/posts/${post.handle}`) Ver post