extend layout
block content
  h1.titulo Bienvenidos!
  p
    | Quisiera comentar, como apertura de este espacio, que el nombre del blog 'polímata accidental' refiere a la cantidad de ámbitos del saber/actuar que se comentarán en los posts.
    | La profundidad o densidad del contenido se reflejará más en la evidencia científica que en la mera opinión subjetiva. Creo que este enfoque permitirá desmitificar una serie de 
    | relatos considerados verdaderos por una parte de la 'mente colectiva' (siempre que sean leídos por alguien que lo necesite y que ese alguien esté dispuesto a aceptar puntos de vista
    | distintos del propio).
  p  
    | En este marco, el presente blog publicará contenidos acerca de desarrollo web, programación, aplicaciones de las ciencias humanas (biología, psicología, antropología y otras),
    | acción/política & economía/finanzas. En lo personal, 
    | me alegro que ustedes, señor@s lectores, estén interesados en leer estas líneas y espero sinceramente que les parezca interesante y provechoso. 
    | En un futuro cercano, habilitaré una forma de apoyar financieramente este blog (a través de patreon o algún micromecenazgo similar) con objeto de mantener una regularidad
    | en la publicación de mis contenidos. Cualquier feedback constructivo es totalmente bienvenido a través de un canal pronto a anunciarse. De antemano, muchas gracias a tod@s.
  
  ul
   li: a(href='/2020/03/22-reflexiones-en-tiempos-de-sars-coronavirus-2') 2020/03/22 Reflexiones Libres en Tiempos de COVID-19 / SARS-CoV-2 
   li: a(href='/2020/03/31-aprendizaje-individual-y-organizacional') 2020/03/31 Cápsula: Desde el Aprendizaje Individual hacia el Aprendizaje Organizacional 
   li: a(href='#') 2020/04/_ Cápsula: Formas de Vida & 'Semivida' presentes en el Planeta Tierra 
   li: a(href='#') 2020/04/_ Cápsula: Finanzas Personales Básicas

block sidebar
  .widget
    h1 Categorías
    p Desarrollo web
    p Programación
    p Ciencias Humanas
    p Acción & Política
    p Economía & Finanzas