extend layout
block content
  p
    | Bienvenidos! Como apertura quisiera comentar que el nombre del blog 'polímata accidental' refiere a la cantidad de ámbitos a comentar y a la profundidad de los comentarios
    | en dichos ámbitos. El presente blog publicará contenidos acerca de los temas de desarrollo web, programación, ciencias humanas, política & economía.
    | Me alegro que ustedes lectores estén interesados en leer estas líneas y espero que les parezca interesante y provechoso.
  
  ul
   li: a(href='./2020-03-21-primer-post') 2020-03-21 Primer Post (ejemplo)
   li: a(href='#') 2020-03-23 Segundo Post (ejemplo)

block sidebar
  .widget
    h1 Categorías
    p Desarrollo web
    p Programación
    p Ciencias Humanas
    p Acción & Política
    p Economía & Finanzas