extend layout

block content
  h1 Bienvenidos!
  p
    | Como apertura, quisiera comentar que el objetivo de este espacio es elevar el piso educacional de los ciudadanos de Chile con objeto de propender a la 'doctrina de la verdad'.
    | Para lograr ese objetivo, el presente blog publicará contenidos acerca de desarrollo web, programación, ciencias humanas
    | (biología, psicología, antropología y otros derivados), acción/política & economía/finanzas.
    | En lo personal, me alegro que ustedes, señor@s lector@s, estén interesados en leer estas líneas y espero sinceramente que les parezca interesante y provechoso.
    | En un futuro cercano, habilitaré una forma de apoyar financieramente este blog (a través de patreon o algún micromecenazgo similar) con objeto de mantener una regularidad
    | en la publicación de mis contenidos. Cualquier feedback constructivo es totalmente bienvenido a través de un canal pronto a anunciarse. De antemano, muchas gracias a tod@s.


block cards
  .ui.two.cards.stackable
    .card
      .image
        a(href='/2020/03/22-reflexiones-en-tiempos-de-sars-coronavirus-2')
          img.ui.fluid.image(src='/stylesheets/virus_mers_rdx.jpg' alt='mers virus')
      .content
        h2 Reflexiones Libres en Tiempos de SARS-CoV-2
        p En Chile, el primer caso registrado de infección por el virus SARS-CoV-2 se registró el 3 de Marzo del 2020...
      .extra.content
        p 22 Marzo 2020

    .card
      .image
        a(href='/2020/03/31-aprendizaje-individual-y-organizacional')
          img.ui.fluid.image(src='/stylesheets/apzje_arbol_rdx.jpg' alt='aprendizaje individual y organizacional')
      .content
        h2 Aprendizaje Individual & Organizacional
        p Todos estamos familiarizados intuitivamente y por experiencia con el proceso de aprendizaje individual...
      .extra.content
        p 31 Marzo 2020

    .card
      .image
        a(href='/2020/04/07-formas-vida-semivida-presentes-nuestro-planeta-tierra')
          img.ui.fluid.image(src='/stylesheets/bacteria_cromista_rdx.jpg'  alt='formas de vida en el planeta Tierra')
      .content
        h2 El Árbol de la Vida en nuestro Tercer Planeta
        p La pandemia de COVID-19 vigente coloca en el tapete las redes de relaciones de influencia, correlación y causalidad entre la gama de vida presente en el planeta Tierra...
      .extra.content
        p 07 Abril 2020

    .card
      .image
        a(href='#')
          img.ui.fluid.image(src='/stylesheets/waiting_rdx.jpg' alt='esqueleto esperando')
      .content
        h2 Finanzas Personales & Empresariales Básicas
        p En el Chile del tercer decenio del siglo XXI, las personas *deben* saber lo básico de finanzas personales y empresariales para que no les metan el dedo en la boca...
      .extra.content
        p _ Abril 2020

    .card
      .image
        a(href='#')
          img.ui.fluid.image(src='/stylesheets/waiting_rdx.jpg' alt='esqueleto esperando')
      .content
        h2 La Doctrina de la Verdad
        p La Doctrina de la Verdad es un término que incorporé leyendo algunos textos de divulgación científica del economista Tim Hardford...
      .extra.content
        p _ Abril 2020