extend layout
block content
  h1.titulo Bienvenidos!
  p
    | Quisiera comentar, como apertura de este espacio, que el nombre del blog 'polímata accidental' refiere a la cantidad de ámbitos a comentar más que a la profundidad de los comentarios
    | en dichos ámbitos. Espero, sin embargo, que la profundidad o densidad del contenido de los posts sea considerado al menos decente.
  p  
    | El presente blog publicará contenidos acerca de desarrollo web, programación, aplicaciones de las ciencias humanas (biología, psicología, antropología y otras),
    | acción/política & economía/finanzas.
    | Me alegro que ustedes los lectores estén interesados en leer estas líneas y espero sinceramente que les parezca interesante y provechoso. En un futuro cercano, habilitaré una forma de 
    | donar o apoyar financieramente este blog (patreon o algo similar) con objeto de mantener una regularidad en la publicación
    | de mis contenidos. Cualquier feedback constructivo es totalmente
    | bienvenido. De antemano, muchas gracias a tod@s.
  
  ul
   li: a(href='/2020/03/22-reflexiones-en-tiempos-de-sars-coronavirus-2') 2020/03/22 Reflexiones Libres en Tiempos de COVID-19 / SARS-CoV-2 
   li: a(href='/2020/03/31-aprendizaje-individual-y-organizacional') 2020/03/31 Cápsula: Desde el Aprendizaje Individual hacia el Aprendizaje Organizacional 
   li: a(href='#') 2020/04/_ Cápsula: Formas de Vida & 'Semivida' presentes en el Planeta Tierra 
   li: a(href='#') 2020/04/_ Cápsula: Finanzas Personales Básicas

block sidebar
  .widget
    h1 Categorías
    p Desarrollo web
    p Programación
    p Ciencias Humanas
    p Acción & Política
    p Economía & Finanzas