extend layout
block content
  p
    | Bienvenidos! Como apertura quisiera comentar que el nombre del blog 'polímata accidental' refiere a la cantidad de ámbitos a comentar y a la profundidad de los comentarios
    | en dichos ámbitos. El presente blog publicará contenidos acerca de los temas de desarrollo web, programación, ciencias humanas & actualidad de economía y finanzas.
    | Me alegro que estén interesados en leer estas líneas y espero que les parezca interesante y provechoso. 

block sidebar
  .widget
    h1 Categorías
    p Desarrollo web
    p Programación
    p Ciencias Humanas
    p Economía & Finanzas