doctype
html
  head
    title El Estocástico | Programación, Psicología & Pensamientos All In One ~por gnietto
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    .cajatitulo
      h1.titulo El Estocástico
      h2.subtitulo Programación, Psicología & Pensamientos All In One ~por gnietto
    section
      block content