doctype
html
  head
    title Polímata Accidental | De todo un poco
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    header
      h1 Polímata Accidental
      p De todo un poco

    section
      block content


