doctype
html
	head
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(charset='utf-8')
		title The Cybernetist | Perspectivas Cibernéticas/Sistémicas aplicadas a Programación, Ecología, Psicología, Economía, etc.
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
	body.bg
		.cajatitulo
			h1.titulo The Cybernetist
			h2.slogan Perspectivas Cibernéticas/Sistémicas aplicadas sobre la Opinión
			
		section
			block content