doctype
html
  head
    title #{title} - gnietto's corner
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    header
      h1 Polímata Accidental
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Ejecutándose gracias a Nodejs, Pug & Stylus
