doctype
html
  head
    title #{title} | Polímata Accidental
    link(rel='stylesheet', type='text/css', href='/stylesheets/semantic.css')
    script(src='/stylesheets/semantic.js')
    script(src='/stylesheets/jquery-3.1.1.min.js')
  body
    header.ui.header.block.dividing
      h1 Polímata Accidental

    section
      block content

    section
      block cards

    footer
      p Todo el crédito del blog es para 'Polímata Accidental', Nodejs, Pug & Stylus
