doctype
html
	head
		title The Cybernetist | Programación, Sistemas, Cibernética, Ecología, Psicología, Economía... desde una perspectiva cibernética
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
	body
		.cajatitulo
			h1.titulo The Cybernetist
			h2.slogan Programación, Sistemas, Cibernética, Ecología, Psicología, Economía... desde una perspectiva cibernética
			
		section
			block content