doctype
html
  head
    title #{title} | Polímata Accidental 
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    header
      h1 Polímata Accidental
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Este blog está disponible gracias a gnietto, Nodejs, Pug & Stylus.
