doctype
html
  head
    title #{title} | Polímata Accidental 
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css', )
  body
    header
      h1 Polímata Accidental
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Todo el crédito del blog es para gnietto, Nodejs, Pug & Stylus.
