doctype
html
  head
    title The Cybernetist | Pensamientos All In One en Programación, Sistemas, Cibernética, Ecología, Psicología ~por gnietto
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    .cajatitulo
      h1.titulo The Cybernetist
      h2.subtitulo Pensamientos All In One en Programación, Sistemas, Cibernética, Ecología, Psicología ~por gnietto
    section
      block content