@import 'nib'

global-reset()

.cajatitulo
  display flex
  flex-direction column
  flex-wrap wrap
  justify-content center
  align-items flex-start
  width 45vw
  margin 0 auto

  .titulo
    color #333
    font-size 3.25rem
    font-family Georgia
    margin 1rem 0 0 0

  .subtitulo
    font-family Georgia

section
  position relative
  display block

  .lista-cards
    display flex
    flex-direction column
    flex-wrap wrap
    justify-content center
    align-items center

    p
      font-size 1.1rem

    .cards    
      width 45vw
      height 6rem
      padding 1.5rem
      margin 10px
      font-family Georgia

    .links
      text-decoration none
      color teal
      font-size 1.50rem

    .autor
      font-family "Helvetica Neue"
      color rgb(117, 117, 117)
      font-size 1rem

    .descripcion
      padding 0.6rem 0 1.25rem 0
      height 3rem

.post
  display flex
  flex-direction column
  flex-wrap wrap
  justify-content center
  align-items flex-start
  width 45vw
  margin 0 auto

  .titulopost
    font-size 2.25rem
    font-family Georgia
    padding 2rem 0 0 0

  .parrafopost
    font-size 1.3125rem
    line-height 32px
    font-family Georgia    
    letter-spacing -0.0039375rem
    color rgb(41, 41, 41)
    hyphens manual
    -webkit-hyphens manual
    -ms-hyphens manual

    p
      padding-top 1rem

    h3
      padding-top 1rem
      padding-bottom -0.2rem
      font-weight 600
      letter-spacing -1.5px
      font-size 23px

  .titulobiblio
    font-size 21px
    font-weight 800
    font-family Georgia
    letter-spacing -1.3px

  .biblio
    font-size 1.1rem
    font-family Georgia
    line-height 1.1rem

  .span
    font-weight 600

  .cursiva
    font-style italic