@import 'nib'
global-reset()

@font-face {
	font-family: 'Alegreya';
	font-style: normal;
	font-weight: 400;
	src: local(''),       
			url('../fonts/alegreya-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: 'Alegreya Italic';
	font-style: normal;
	font-weight: 400;
	src: local(''),       
			url('../fonts/alegreya-v19-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: 'Alegreya Sans';
	font-style: normal;
	font-weight: 400;
	src: local(''),       
			url('../fonts/alegreya-sans-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body
	box-sizing border-box
	background-color #111
	display flex
	flex-direction column
	overflow-y: scroll

.bg 
	background-image url(../imgs/degrad_opt.svg)
	background-repeat no-repeat
	background-size 100% auto 

.titulo
	font-family 'Alegreya Sans'
	font-size 5rem
	color teal
	text-align center

.slogan
	font-family Alegreya
	font-size 1.7rem
	text-align center
	color azure

.lista-cards
	background-color transparent
	margin-top 2rem

.cards
	background-color #fffaf0ba
	color #333
	border-radius 10px
	padding .75rem
	margin .4rem 0
	height 13rem

.links
	font-family 'Alegreya Sans'
	font-size 1.75rem
	font-weight 600
	text-decoration none
	color teal

.autor
	font-size 1.3rem
	font-family 'Alegreya Sans'

.descripcion
	font-family Alegreya
	font-size 1.4rem 
	padding-top .5rem


/* contenido post */
.post
	color #111
	margin-top 2rem
	background-color #fffaf0ba
	border-radius 10px
	padding 1.2rem .6rem

.titulopost
	font-family 'Alegreya Sans'
	font-size 3.2rem
	color teal

.parrafopost
	font-family Alegreya
	font-size 1.4rem

.parrafopost > p 
	padding .5rem 0
	letter-spacing .06rem

.parrafopost > h3
	font-family 'Alegreya Sans'
	font-size 1.6rem 
	font-weight 700
	margin 1.2rem 0 .5rem 0

.titulobiblio
	font-size 1.4rem
	font-weight bold
	margin 1.75rem 0 .5rem 0

.span
	font-weight bold
	font-family 'Alegreya Italic'

.cursiva
	font-family 'Alegreya Italic'

.biblio > p 
	padding: .5rem 0


/* media */
@media screen and (max-width: 370px)
	.titulo
		font-size 4rem

	.titulopost
		font-size 2.5rem 

@media screen and (min-width: 600px)
	body
		margin 0 12%