html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local(''), url("../fonts/alegreya-v19-latin-regular.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Alegreya Italic';
  font-style: normal;
  font-weight: 400;
  src: local(''), url("../fonts/alegreya-v19-latin-italic.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''), url("../fonts/alegreya-sans-v13-latin-regular.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@media screen and (min-width: 768px) {
  body {
    margin: 0 22%;
  }
}
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #111;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: scroll;
}
.titulo {
  font-family: 'Alegreya Sans';
  font-size: 5rem;
  color: #008080;
  text-align: center;
}
.slogan {
  font-family: Alegreya;
  font-size: 1.7rem;
  text-align: center;
  color: #f0ffff;
}
.lista-cards {
  background-color: #111;
  margin-top: 2rem;
}
.cards {
  background-color: #f0ffff;
  color: #333;
  border-radius: 10px;
  padding: 0.75rem;
  margin: 0.4rem 0;
  height: 13rem;
}
.links {
  font-family: 'Alegreya Sans';
  font-size: 1.75rem;
  font-weight: 600;
  text-decoration: none;
  color: #008080;
}
.autor {
  font-size: 1.3rem;
  font-family: 'Alegreya Sans';
}
.descripcion {
  font-family: Alegreya;
  font-size: 1.4rem;
  padding-top: 0.5rem;
}
/* contenido post */
.post {
  color: #111;
  margin-top: 2rem;
  background-color: #f0ffff;
  border-radius: 10px;
  padding: 1.2rem 0.6rem;
}
.titulopost {
  font-family: 'Alegreya Sans';
  font-size: 3.2rem;
  color: #008080;
}
.parrafopost {
  font-family: Alegreya;
  font-size: 1.4rem;
}
.parrafopost > p {
  padding: 0.5rem 0;
  letter-spacing: 0.06rem;
}
.parrafopost > h3 {
  font-family: 'Alegreya Sans';
  font-size: 1.6rem;
  font-weight: 700;
  margin: 1.2rem 0 0.5rem 0;
}
.titulobiblio {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1.75rem 0 0.5rem 0;
}
.span {
  font-weight: bold;
  font-family: 'Alegreya Italic';
}
.cursiva {
  font-family: 'Alegreya Italic';
}
.biblio > p {
  padding: 0.5rem 0;
}
