html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.cajatitulo {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 45vw;
  margin: 0 auto;
}
.cajatitulo .titulo {
  color: #333;
  font-size: 3.25rem;
  font-family: Georgia;
  margin: 1rem 0 0 0;
}
.cajatitulo .subtitulo {
  font-family: Georgia;
}
section {
  position: relative;
  display: block;
}
section .lista-cards {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
section .lista-cards p {
  font-size: 1.1rem;
}
section .lista-cards .cards {
  width: 45vw;
  height: 6rem;
  padding: 1.5rem;
  margin: 10px;
  font-family: Georgia;
}
section .lista-cards .links {
  text-decoration: none;
  color: #008080;
  font-size: 1.5rem;
}
section .lista-cards .autor {
  font-family: "Helvetica Neue";
  color: #757575;
  font-size: 1rem;
}
section .lista-cards .descripcion {
  padding: 0.6rem 0 1.25rem 0;
  height: 3rem;
}
.post {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 45vw;
  margin: 0 auto;
}
.post .titulopost {
  font-size: 2.25rem;
  font-family: Georgia;
  padding: 2rem 0 0 0;
}
.post .parrafopost {
  font-size: 1.3125rem;
  line-height: 32px;
  font-family: Georgia;
  letter-spacing: -0.0039375rem;
  color: #292929;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
}
.post .parrafopost p {
  padding-top: 1rem;
}
.post .parrafopost h3 {
  padding-top: 1rem;
  padding-bottom: -0.2rem;
  font-weight: 600;
  letter-spacing: -1.5px;
  font-size: 23px;
}
.post .titulobiblio {
  font-size: 21px;
  font-weight: 800;
  font-family: Georgia;
  letter-spacing: -1.3px;
}
.post .biblio {
  font-size: 1.1rem;
  font-family: Georgia;
  line-height: 1.1rem;
}
.post .span {
  font-weight: 600;
}
.post .cursiva {
  font-style: italic;
}
