html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
header {
  position: fixed;
  display: block;
  height: 100vh;
  width: 20vw;
  background: -webkit-linear-gradient(45deg, #008000, #6495ed);
  background: -moz-linear-gradient(45deg, #008000, #6495ed);
  background: -o-linear-gradient(45deg, #008000, #6495ed);
  background: -ms-linear-gradient(45deg, #008000, #6495ed);
  background: linear-gradient(45deg, #008000, #6495ed);
  text-align: center;
}
header h1 {
  font-size: 2rem;
  font-family: Georgia;
  color: #fff;
  padding: 30vh 1rem 0 1rem;
}
header p {
  font-size: 1.1rem;
  font-family: Georgia;
  color: #fff;
  padding-top: 1.2rem;
}
section {
  position: relative;
  display: block;
  width: 75vw;
  margin-left: 20vw;
  padding: 0 1rem;
}
section .presentacion {
  font-family: Georgia;
  font-size: 21px;
  line-height: 32px;
  padding: 1.4rem 3rem 1.2rem 3rem;
}
section .presentacion h1 {
  font-size: 2.2rem;
  text-align: left;
  padding-bottom: 0.7rem;
}
section .presentacion .parrafo {
  padding-bottom: 1rem;
}
section .lista-cards {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -o-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 2.2rem 0 2.2rem;
}
section .lista-cards h3 {
  font-size: 1.5rem;
  text-decoration: italic;
}
section .lista-cards p {
  font-size: 1.1rem;
}
section .lista-cards .cards {
  width: 320px;
  height: 30vh;
  padding: 1.5rem;
  margin: 20px;
  border: 15px solid #fff;
  -webkit-box-shadow: 0 5px 35px rgba(0,0,0,0.08);
  box-shadow: 0 5px 35px rgba(0,0,0,0.08);
  border-radius: 5%;
  font-family: Georgia;
}
section .lista-cards .autor {
  font-family: "Helvetica Neue";
  color: #757575;
  font-size: 1rem;
}
section .lista-cards .descripcion {
  padding-top: 0.6rem;
}
section .titulopost {
  font-size: 48px;
  font-family: Georgia;
  text-align: center;
  padding: 1rem 2rem;
}
section .parrafopost {
  font-size: 21px;
  line-height: 32px;
  font-family: Georgia;
  word-break: break-word;
  letter-spacing: -0.063px;
  margin: 2em 15% -0.46em 15%;
  color: #292929;
}
section .titulobiblio {
  font-size: 1.2rem;
  font-weight: 800;
  font-family: Georgia;
  margin: 2em 15% -1.7em 15%;
}
section .biblio {
  font-size: 1.1rem;
  font-family: Georgia;
  margin: 2em 15% -0.46em 15%;
}
section .li {
  padding: 0 0 0.7rem 0.7rem;
}
