extend ../layout.pug

block content
  .titulopost
    h1 Acerca del Covid19    

  .parrafopost
    p En Chile, el día 3 de Marzo del 2020 el Ministerio de Salud confirmó el primer caso registrado de infección por el virus SARS-CoV-2. El paciente cero fue una persona de San Javier, en la séptima región del Maule, que regresó al país después de celebrar su luna de miel en el sudeste asiático. Al día siguiente, se confirma el primer caso en la Región Metropolitana. Desde entonces, la presencia del Covid19 ha aumentado bastante, se alcanzó un peak en Agosto, y luego ha disminuido consistentemente.

    h3 Evidencia Científica Reciente
    p La investigación científica acerca de los alcances de la enfermedad del Covid19 ha proliferado desde la aparición de la enfermedad en 2019. Los hallazgos recientes están colocando en su lugar las afirmaciones basadas en el miedo, de modo que las personas puedan cuidarse a sí mismas sabiendo qué se debe hacer. Con ello, se hace retroceder el sentimiento de indefensión de la población. Una pequeña muestra de los resultados de investigaciones recién 'salidas del horno' en Octubre 2020 se muestran a continuación. 

    p <span class=span> Población de riesgo</span>. Un estudio realizado en la ciudad de Estocolmo indica que los adultos mayores a 70 años muestran mayor riesgo de mortalidad cuando viven con adultos laboralmente activos, cuando viven en casas de cuidado de ancianos, viven en vecindarios con densidad de población mayor o igual a 5000 personas por kilómetro cuadrado o con alta tasa de casos confirmados de Covid19 (Brandén et al, 2020). 

    p <span class=span>Expansión de la enfermedad</span>. El rastreo de material genético extraído de 5 casos en Irlanda que viajaron cruzando tres continentes sugieren que la única fuente de infección por Covid19 de estos cinco casos fue el viaje en avión (Murphy et al, 2020).

    p Un estudio de medicina ocupacional realizado en Estados Unidos encontró una relación inversamente proporcional entre la práctica del distanciamiento físico persistente en el lugar de trabajo, y los trabajadores que muestran rasgos del carácter depresivos o ansiosos. El mismo estudio indica que los trabajadores que demuestran una condición de salud depresiva tienen probabilidad más alta de hacer combinaciones en el transporte público o de compartir transporte comparado con personas que no están afectadas con depresión (Lan et al, 2020).

    p <span class=span>Corte de ciclo infeccioso</span>. Aumentar la distancia entre el rociador del virus (a través de tos, estornudo, habla) y el receptor del virus disminuye en forma importante el número de partículas infecciosas inhaladas (Ueki et al, 2020).
    p El mismo estudio indica que el uso de ropa quirúrgica y uso de máscara facial quirúrgica, considerando una distancia de 50 centímetros, resultó en (Ueki et al., 2020):
    p 1. disminución de 57%–58% (ropa quirúrgica) y 73%–76% (máscara facial quirúrgica) en la carga viral y 'infectious virus titer' recibida cuando el rociador estaba enmascarado.
    p 2. disminución de 37%-50% (ropa quirúrgica) y 17%–47% (máscara facial quirúrgica) en la carga viral y 'concentración de partículas virales capaces de transducir células' recibida cuando el receptor estaba enmascarado.
    p 3. disminución de 60%–71% (ropa quirúrgica) y 68%–76% (máscara facial quirúrgica) en la carga viral y 'infectious virus titer' recibida cuando ambos el rociador y el receptor estaban enmascarados.

    h3 Recomendaciones        
    p 1. El punto de vista óptimo de autocuidado es suponer que uno mismo ya está contagiado (aunque no lo estés) para evitar contagiar a otros.
    p 2. Debemos reducir la 'superficie de contacto' que reciba al SARS-CoV-2, es decir, las personas deben evitar exponerse a contraer el virus manteniendo la distancia social (2 metros entre personas), evitar tocar superficies usualmente manoseadas (juegos públicos, perillas, manijas, etc.).
    p 3. Debemos usar tapabocas (obligatorio) y anteojos (opcional aunque recomendado).
    p 4. Debemos lavarnos las manos con jabón y agua con estilo quirúrgico durante 30 segundos en promedio, eliminando los residuos del jabón y desechando las toallas utilizadas. Así mismo, debemos evitar llevarnos las manos a la cara, en especial boca, nariz y ojos.
    p 5. Debemos limpiar cualquier apoyamanos de la casa, medio de transporte o artefacto público (manija, barra, etc.) con solución desinfectante de agua/cloro al 10% ('Clorinda' por ejemplo). Los restos orgánicos se deben limpiar con solución desinfectante de agua/cloro al 25%. Preferentemente evitar tocar esas superficies en la medida de lo posible.
    p 6. Debemos seguir todas las buenas prácticas para prevenir enfermedades tradicionales de invierno: mantener el calor corporal en grado confortable a través del abrigo, satisfacer todas las necesidades nutricionales (vitaminas, minerales, etc.) a través del consumo balanceado de alimentos.

    h3 Evaluación Personal
    p La estrategia de cuarentenas dinámicas es correcta si se implementa en forma estricta. El gobierno debe cuidar la salud de la población y mantener funcionando el circuito económico <span class=span>en forma simultánea</span>. El control epidemiológico vigente es necesario para mantenernos con vida y en buen estado de salud. Mantener el dinamismo de la economía es necesario para abastecernos de agua, alimentos, insumos, trabajo, dinero, etc. a un precio razonable manteniendo a raya el factor inflación. En esta condición ideal, es posible desarrollar en tranquilidad las capacidades personales de una manera relativamente normal (dentro de todo).
    p En retrospectiva, habiendo pasado 7 meses desde la llegada del virus a Chile, la adhesión de las personas a las medidas básicas de prevención, la política sanitaria de cuarentenas dinámicas y la llegada de una primavera calurosa parecen ser los factores catalizadores del buen momento que Chile está teniendo en cuanto a salud se refiere. Veamos qué ocurre el próximo otoño.

    p.titulobiblio Bibliografía
    .biblio
      p Brandén et al.(2020). Residential context and COVID-19 mortality among adults aged 70 years and older in Stockholm: A population-based, observational study using individual-level data. Lancet Healthy Longevity
      p Lan et al.(2020). Association between SARS-CoV-2 infection, exposure risk and mental health among a cohort of essential retail workers in the USA. Occupational and Environmental Medicine.
      p Murphy et al.(2020). A large national outbreak of COVID-19 linked to air travel, Ireland. Eurosurveillance
      p Ueki et al.(2020). Effectiveness of face masks in preventing airborne transmission of SARS-CoV-2. mSphere