extend ../layout.pug

block content
	.titulopost
		h1.titulo Acerca del Blog

	.parrafopost
		p Estaba pensando que el nombre de mi blog podría sonar demasiado e injustificadamenta abarcativo en opinión de mis lectores. Quizás me achaquen el mote de 'todólogo'. Quizás provoque curiosidad. Quizás les guste el 'nickname'. Quizás todas las anteriores. Como sea, lo cierto es que me gusta el nombre del blog porque creo que suena bien.
		p Si establecemos un criterio objetivo para definir quien califica como polímata y quien no lo es, con toda probabilidad el adjetivo 'polímata' no aplicaría a mi persona. Aun así, si aplico un esfuerzo continuado en ordenar ideas que ya he adquirido para mostrárselas a otras personas al redactarlas en papel físico o digital, pienso que algún día el apelativo de 'polímata' sea calificado en mi persona. Me gusta esa idea. 
		p Y es que al final, son las personas que interactúan con uno de manera periódica quienes emiten adjetivos acerca de los propios discursos y actuaciones. Son ellos quienes deciden si alguien es tal o cual, y en consecuencia uno siente y asimila la apreciación. Un corolario del caso es que las emisiones de sentimientos o comentarios positivos indican que uno está <span class=cursiva> aportando valor </span> (es decir, aportar contenido a la conversación que ex-ante no existía o no se conocía) a las vidas de las personas interlocutoras.
		p Sinceramente, espero que sigamos 'conversando', generando conversación o aportando valor a través de estas líneas.

		p.titulobiblio Bibliografía
		.biblio
			p Polímata Accidental. (2020). <span class=cursiva> Comunicación personal</span>