extend ../layout.pug

block content
  .titulopost
    h1.titulo Acerca del Blog

  .parrafopost
  p Estaba pensando que el nombre de mi blog podría sonar demasiado e injustificadamenta abarcativo en opinión de mis lectores. Quizás me achaquen el mote de 'todólogo'. Quizás provoque curiosidad. Quizás les guste el 'nickname'. Quizás todas las anteriores. Como sea, lo cierto es que me gusta el nombre del blog porque creo que suena bien.
  p Si establecemos un criterio objetivo para definir quien califica como polímata y quien no lo es, con toda probabilidad el adjetivo 'polímata' no aplicaría a mi persona. Aun así, si aplico un esfuerzo continuado en ordenar ideas que ya he adquirido para mostrárselas a otras personas al redactarlas en papel físico o digital, pienso que algún día el apelativo de 'polímata' califique en mi persona. Y es que al final, son las personas que interactúan con uno de manera periódica quienes emiten adjetivos acerca de los propios discursos y actuaciones. Son ellos quienes deciden si alguien es tal o cual, y en consecuencia uno siente y asimila la apreciación. Y en caso de que sean sentimientos o comentarios positivos, indicaría que estoy <span class=cursiva> aportando valor </span> a las vidas de las personas que interactúan con uno.