extend ../layout.pug

block content
  .titulopost
    h1 El Árbol de la Vida

  .parrafopost
    p El rápido surgimiento de la enfermedad Covid19 en este 2020 me hace recordar que siempre me ha interesado la variedad de vida presente en nuestro planeta Tierra y la posibilidad cierta de vida en otros planetas o dimensiones. En este post busco mostrar las formas de vida conocidas en nuestro planeta según la última clasificación vigente (Ruggiero et al, 2015). Para quienes deseen profundizar más, existe una base de datos que enumera actualmente el 92% de todas las especies conocidas por los investigadores (Catalogue of Life, 2020).
    h3 Qué es la vida
    p El concepto de vida ha generado múltiples definiciones de parte de la comunidad científica especializada. Muchas de ellas, en estricto rigor, no son definiciones sino más bien una lista de atributos comunes que muestran todos los seres vivos conocidos actualmente.
    p Formalmente, propongo una definición estricta: podemos llamar vida a cualquier sistema autopoiético cuya estructura física está construida en base a componentes bioquímicos o células biológicas. Esta definición propuesta usa el concepto de autopoiesis como base central.
    p La autopoiesis es cualquier proceso de red de producción (transformación y destrucción) de componentes que (i) a través de sus interacciones y transformaciones regenera continuamente la red de procesos y relaciones que la producen, (ii) constituyen a la máquina como una unidad concreta en el espacio en el que sus componentes existen especificando el dominio topológico de su realización como tal red de procesos (Maturana & Varela, 1972).
    p Para clarificar esta definición, Varela (2000) publica un algoritmo simple basado en 3 criterios de validación que permiten separar un sistema autopoiético del que no lo es:
    p <span class=span> Borde semipermeable. </span> Verifique que el sistema se define por un límite o borde semipermeable constituido por componentes moleculares que permite discriminar entre el interior y el exterior del sistema en relación con los componentes relevantes del sistema. Si es así, proceda con el segundo criterio.
    p <span class=span>Red de reacciones.</span> Verifique que los componentes de la barrera son producto de una red de reacciones que opera al interior de la barrera. Si la respuesta es afirmativa, proceda con el tercer criterio.
    p <span class=span>Interdependencia.</span> Verifique que la red de reacciones es regenerada por condiciones producidas por la existencia de la misma barrera, es decir, que 1 y 2 son interdependientes. Si es así, el sistema es autopoiético.

    p Desde la aparición de los primeros organismos vivos en nuestro planeta, se ha desarrollado una enorme variedad de especies diferentes que cumplen roles dentro de lo que llamamos ecosistemas. Esta variedad ha sido conceptualizada en las siguientes categorías (Ruggiero et al, 2015).
    h3 Súperreino Eucariota
    p La primera categoría taxonómica mencionada son los miembros del reino vegetal. ...(ver wiki etc etc)
    p La segunda categoría taxonómica es el reino animal. Comprende a todos los seres vivos multicelulares con ....
    p La tercera categoría del árbol de la vida es el reino fungi. Los miembros de esta categoría son toda clase de hongos ...
    p En cuarto lugar mencionamos a los miembros del reino cromista.
    p La quinta categoría taxonómica corresponde al reino protozoo.
    h3 Súperreino Procariota
    p La sexta categoría del árbol de la vida corresponde al reino eubacteria.
    p La séptima categoría corresponde a los miembros del llamado reino arquea o archeobacteria. Se trata de organismos unicelulares cuya particularidad es que son capaces de sobrevivir en ambientes extremos
    h3 Un (súper)reino en las sombras?
    p Existe una variedad de entidades biológicas que se consideran actualmente fuera del árbol de la vida aunque bajo ciertas condiciones muestran algunos atributos de los seres vivos. Estas entidades son los virus.
    p Los virus son agentes infecciosos submicroscópicos que se replican sólo dentro de células vivas de un organismo. La mayor cantidad de conocimiento científico acerca de los virus se ha recabado recién en la segunda mitad del siglo 20 gracias a la invención y perfeccionamiento del microscopio electrónico y las técnicas de cristalografía. Éstas permiten estudiar con mucha mayor precisión la estructura de los virus.
    p La estructura básica de los virus se deglosa en un cápside (envoltura) y el material genético (ARN o ADN). Cuando los virus se encuentran en tránsito o estacionados fuera de entidades vivas, se les llama viriones.
    p Los virus infectan todo tipo de formas de vida (animales, plantas, hongos, cromistas, protozoos, eubacterias, arqueobacterias).
    p Además de los virus, existen otra forma de agente infeccioso submicroscópico llamados viroides.
    h3 Conclusión
    p La simple inspección de las categorías expuestas da luces acerca de la enorme variedad del fenómeno de la vida alrededor de nosotros. Además, entrega indicios acerca del grado de complejidad necesarios para permitir la sola existencia de seres vivos (personas, gatos, perros, aves, etc.). 
    p Espero que este artículo sirva de precedente para revalorar la maravillosa complejidad del fenómeno de la vida y para revalorar los esfuerzos que muchas personas han hecho, a través de la exploración e investigación científica, para colocar a disposición del público general estos trozos de conocimiento sólido. 

    p.titulobiblio Bibliografía
    .biblio
      p Catalogue of Life. (2020). Disponible en https://catalogueoflife.org
      p Maturana, H; Varela, F. (1972). Autopoiesis and Cognition: The Realization of the Living. Boston: Reidel
      p Ruggiero, M; Gordon, D; Orrell, T; Bailly, N; Bourgoin, T; Brusca, R; Cavalier-Smith, T; Guiry, M; Kirk, P; Thuesen, E. (2015). "A Higher Level Classification of All Living Organisms". PLOS ONE. 10 (4). Disponible en https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0119248
      p Varela, F (2000). El Fenómeno de la Vida. Santiago: Dolmen