extend ../layout.pug

block content
  .titulopost
    h1 El Árbol de la Vida

  .parrafopost
    p Al margen del rápido y notable surgimiento de la enfermedad Covid19 en este 2020, siempre me ha interesado la variedad de vida presente en nuestro planeta Tierra y la posibilidad cierta de vida en otros planetas o dimensiones. En este post busco mostrar las formas de vida conocidas en nuestro planeta según la última clasificación vigente (Ruggiero et al, 2015). Para quienes deseen profundizar más, existe una base de datos que enumera actualmente el 92% de todas las especies conocidas por los investigadores (Catalogue of Life, 2020).
    h3 Súperreino Eucariota
    p La primera categoría taxonómica mencionada son los miembros del reino vegetal. ...
    p La segunda categoría taxonómica es el reino animal. Comprende a todos los seres vivos multicelulares con ....
    p La tercera categoría del árbol de la vida es el reino fungi. Los miembros de esta categoría son toda clase de hongos ...
    p En cuarto lugar mencionamos a los miembros del reino cromista.
    p La quinta categoría taxonómica corresponde al reino protozoo.
    h3 Súperreino Procariota
    p La sexta categoría del árbol de la vida corresponde al reino eubacteria.
    p La séptima categoría corresponde a los miembros del llamado reino arquea o archeobacteria. Se trata de organismos unicelulares cuya particularidad es que son capaces de sobrevivir en ambientes extremos
    h3 Un (súper)reino en las sombras?
    p Existe una variedad de entidades biológicas que se consideran actualmente fuera del árbol de la vida aunque bajo ciertas condiciones muestran algunos atributos de los seres vivos. Estas entidades son los virus.
    p Los virus son agentes infecciosos submicroscópicos que se replican sólo dentro de células vivas de un organismo. La mayor cantidad de conocimiento científico acerca de los virus se ha recabado recién en la segunda mitad del siglo 20 gracias a la invención y perfeccionamiento del microscopio electrónico y las técnicas de cristalografía. Éstas permiten estudiar con mucha mayor precisión la estructura de los virus.
    p La estructura básica de los virus se deglosa en un cápside (envoltura) y el material genético (ARN o ADN). Cuando los virus se encuentran en tránsito o estacionados fuera de entidades vivas, se les llama viriones.
    p Los virus infectan todo tipo de formas de vida (animales, plantas, hongos, cromistas, protozoos, eubacterias, arqueobacterias).    

    p.titulobiblio Bibliografía
    .biblio
      p Ruggiero, M; Gordon, D; Orrell, T; Bailly, N; Bourgoin, T; Brusca, R; Cavalier-Smith, T; Guiry, M; Kirk, P; Thuesen, E. (2015). "A Higher Level Classification of All Living Organisms". PLOS ONE. 10 (4). Disponible en https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0119248
      p Catalogue of Life. (2020). Disponible en https://catalogueoflife.org.