extend ../layout.pug

block content
	.titulopost
		h1.titulo El Engaño del Espectro Político

	p El espectro político ....
	p Origen del dualismo izquierda-derecha  
	p Idearios políticos presentes
	p Mejores configuraciones del espectro político

	p.titulobiblio Bibliografía
	.biblio
		p (quien sabe aun?)
