extend ../layout.pug

block content
	.titulopost
		h1.titulo Breve Historia del Dinero

	.parrafopost
		p El papel del dinero a lo largo de la historia como medio de cambio ha ido evolucionando. Tanto es así que ahora su valor intrínseco es inferior al valor que representa.
		h3 El trueque
		p La humanidad siempre ha hecho todo lo posible por cubrir sus necesidades. Una forma de conseguir aquello de lo que carecía era el trueque, es decir, cambiar una mercancía que se tenía en exceso por otra. Así, se cambiaba lana por un tipo de arma, o pescados por trigo. Sin embargo, el trueque resultaba un sistema poco práctico en numerosas situaciones ya que siempre hacia dudar del valor de los productos que se querían intercambiar. Es por ello que se buscó un elemento que fuera generalmente aceptado en los procesos de intercambio: así surgió el dinero mercancía.
		h3 El dinero mercancía
		p Por definición, el dinero mercancía es un bien que tiene el mismo valor como unidad monetaria que como mercancía (oro, piedras preciosas…). La mercancía que se elegía como dinero debía tener las siguientes cualidades: que fuese duradera, transportable, divisible, homogénea y de oferta limitada.
		p El problema de los metales preciosos era que en cada intercambio debía comprobarse su pureza y su calidad, ¡nada fácil! Con la acuñación de la moneda se evitó este problema.
		p Durante la Edad media, los orfebres ofrecían servicios de custodia de metales preciosos y demás objetos de valor. De esta forma, introdujeron el dinero en papel, que estaba respaldado por los depósitos de oro o plata, de igual valor al de los certificados.
		h3 El dinero fiduciario
		p El dinero signo o fiduciario es un bien que tiene un valor muy escaso como mercancía, es decir, que su valor intrínseco es inferior al que representa, pero que mantiene ese valor como medio de cambio porque los individuos tienen confianza en que el emisor responderá de los trozos de papel o monedas acuñadas y cuidará de que la cantidad emitida sea limitada. En definitiva, el valor intrínseco del papel es prácticamente nulo, pero su valor es refrendado por quien lo emite.
		p El valor del dinero-papel actual descansa precisamente en esa confianza de cada uno de que será aceptado como medio de pago por los demás, y en que las autoridades económicas han determinado específicamente que es de curso legal.

		p.titulobiblio Bibliografía
			.biblio
				p Finanzas para Todos. (????). <span class=cursiva> La evolución del dinero, del trueque al dinero fiduciario. </span> Disponible en https://www.finanzasparatodos.es/es/secciones/actualidad/evolucion_dinero.html