extend ../layout.pug

block content
  .titulopost
    h1 Reflexiones sobre el Covid19

  p.parrafopost En Chile, el primer caso registrado de infección por el virus SARS-CoV-2 se registró el 3 de Marzo del 2020. Desde entonces, se registran oficialmente 637 casos testeados positivamente a la fecha presente (22 de Marzo del 2020). La proyección estadística de nuevos casos, que tomaría como referencia la curva de contagios de Italia, indica que en 3 días debieran elevarse explosivamente las confirmaciones de casos positivos. Las cifras asustan. Esta situación motiva a las personas a obtener información para 'actuar surfeando la ola' de la mejor manera posible. La información comentada más importante que he recabado se resume en seis puntos:

  ol.parrafopost
    li.li El punto de vista óptimo para afrontar esta situación epidemiológica es suponer que uno mismo ya está contagiado (aunque no lo estés), por lo que en adelante debemos velar por evitar contagiar a otros.
    li.li Debemos lavarnos las manos con jabón y agua (no sucedáneos) con estilo quirúrgico durante 30 segundos en promedio, eliminando los residuos del jabón y desechando las toallas utilizadas. Así mismo, debemos evitar llevarnos las manos a la cara, en especial boca, nariz y ojos.
    li.li Debemos usar tapabocas (obligatorio) y anteojos (opcional aunque recomendado).
    li.li Debemos limpiar cualquier apoyamanos de la casa, medio de transporte o artefacto público (manija, barra, etc.) con solución desinfectante de agua/cloro al 10% ('Clorinda' por ejemplo). Los restos orgánicos se deben limpiar con solución desinfectante de agua/cloro al 25%. Preferentemente evitar tocar esas superficies en la medida de los posible.
    li.li Debemos reducir la 'superficie de contacto' que reciba al SARS-CoV-2, es decir, las personas deben evitar exponerse a contraer el virus manteniendo la distancia social (2 metros entre personas), evitar tocar superficies usualmente manoseadas (juegos públicos, perillas, manijas, etc.) y, lo más importante, quédarse en casa haciendo cuarentena voluntaria para mantener la buena salud.
    li.li Debemos seguir todas las buenas prácticas para prevenir enfermedades tradicionales de invierno: mantener el calor corporal en grado confortable a través del abrigo, satisfacer todas las necesidades nutricionales (vitaminas, minerales, etc.) a través del consumo balanceado de alimentos.
    li.li La estrategia de cuarentenas progresivas es correcta (si se implementa en forma estricta) porque el gobierno debe cuidar la salud de la población *y* mantener funcionando el circuito económico *en forma simultánea*. El control epidemiológico vigente es necesario para mantenernos con vida y en buen estado de salud. Mantener el dinamismo de la economía es necesario para abastecernos de agua, alimentos, insumos indispensables, trabajo, dinero, etc. y para desarrollar en tranquilidad las capacidades personales.

  p.parrafopost Los ciudadanos debemos alinearnos con las indicaciones del gobierno en materia de salud pública, a la vez de tomar razón de nuestro autocuidado por el bien propio y de los demás.

